.userDataContanier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dataImg {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyDataDiv {
  display: flex;
  padding: 32px 0 32px 32px;
  background-color: var(--lightBackground);
}
.dataText {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dataText p {
  margin: 0;
}
.FireImg {
  color: var(--main);
  opacity: 1;
}
.dataText p:nth-child(0n + 1) {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}

.dataText p:nth-child(0n + 2) {
  font-size: 14px;
}
.imgFirebackGround {
  background-color: rgba(253, 81, 129, 0.1);
}
.iconProteinbackGround {
  background-color: rgba(74, 184, 255, 0.1);
}
.glucidesbackGround {
  background-color: rgba(249, 206, 35, 0.1);
}
.fattybackGround {
  background-color: rgba(253, 81, 129, 0.1);
}
