.activityChartHeader {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 15px;
}
.activityChartHeader ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.activityChartHeader ul li {
  font-size: 14px;
  margin-left: 2rem;
}
