.activityChartBar {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--lightBackground);
  border-radius: 5px;
  grid-column: 1/4;
  height: 200px;
}
.activityChartHeader {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 15px;
}
.activityChartHeader ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.activityChartHeader ul li {
  font-size: 14px;
  margin-left: 2rem;
}
.activityChartHeader ul li::marker {
  font-size: 24px;
}
.redCircle::marker {
  color: #e60000;
}
.custom-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 65px;
  background-color: #e60000;
}
.lable {
  font-size: 8px;
  color: #ffff;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
