.todayScore {
  border-radius: 5px;
  background-color: #c1ded3;
  padding-top: -200px;
  position: relative;
  display: flex;
}
.todayScore h2 {
  position: absolute;
  top: 8px;
  left: 8px;
}
.scorePercent {
  font-size: 26px;
  color: black;
  font-weight: 700;
}
.todayScore p {
  font-size: 16px;
  color: #74798c;
  font-weight: 500;
  height: 70px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 95px;
  margin: 0;
}
