:root {
  --main: #ff0000;
  --navbars: #020203;
  --lightText: #ffffff;
  --darkText: #000000;
  --lightBackground: #fbfbfb;
}
h1 {
  font-size: 48px;
  margin: 0;
  padding: 3rem 0 1rem;
}
h1 span {
  color: var(--main);
}

.app {
  position: relative;
}

aside {
  background-color: var(--navbars);
  width: 117px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 90px;
}
.activities-1 {
  grid-area: activities;
  margin-top: 3rem;
}
.copyrights {
  color: var(--lightText);
  font-size: 1rem;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: 6rem;
}
.dashboardSection {
  height: 100%;
  background-color: transparent;
  /* margin-left: 220px;
  margin-right: 90px; */
  margin: 0 90px 50px 220px;
  padding-top: 100px;
}
.dashboardHeader p {
  font-size: 18px;
  font-weight: 400;
}

.dashContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
}

.userDataContanier {
  grid-column: 4/5;
  grid-row: 1/3;
}
@media screen and (max-width: 1200px) {
  aside {
    width: 85px;
    top: 65px;
  }
  .dashboardSection {
    margin: 0 50px 50px 120px;
    padding-top: 50px;
  }
  h1 {
    font-size: 42px;
    margin: 0;
    padding: 2rem 0 1rem;
  }
  .dashContent {
    gap: 15px;
  }
  .dashboardHeader p {
    margin-top: 0;
  }
}
