:root {
  --main: #ff0000;
  --navbars: #020203;
  --lightText: #ffffff;
  --darkText: #000000;
  --lightBackground: #fbfbfb;
}
h1 {
  font-size: 48px;
  margin: 0;
  padding: 3rem 0 1rem;
}

aside {
  background-color: var(--navbars);
  width: 117px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}
.activities-1 {
  grid-area: activities;
  margin-top: 3rem;
}
.copyrights {
  color: var(--lightText);
  font-size: 1rem;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: 5rem;
}
.dashboardSection {
  height: 100%;
  background-color: transparent;
  margin-left: 220px;
}
.dashboardHeader p {
  font-size: 18px;
  font-weight: 400;
}
.dashContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-template-areas:
    ". . . ."
    "score .";
}
.dailyAct {
  background-color: var(--lightBackground);
  height: 320px;
  border-radius: 5px;
  grid-column: 1/4;
}
.avergAct {
  grid-area: duration;
}
.actType {
  grid-area: repartition;
}
.score {
  grid-area: score;
}
.userDataContanier {
  grid-column: 4/5;
  grid-row: 1/3;
}
